.button {
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  background: #11abb0;
  text-decoration: none;
  letter-spacing: 0;
  color: var(--colors-text);
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  gap: 12px;
  display: flex;
  align-items: center;
}

.darkButton {
  background-color: var(--colors-bg-dark);
}
