.header {
  position: relative;
  min-height: 500px;
  height: 100vh;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.navigation {
  background-color: var(--colors-bg-dark);
  font-size: var(--fs-sm);
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  transition: all 0.5s;
}

.mobileBtn {
  display: none;
}

.navList {
  margin: 0 auto;
  padding: 1px 0;
  list-style: none;

  width: auto;
  text-align: center;
  display: flex;
  gap: 8px;
  max-width: max-content;
}

.navItem {
  display: inline-block;
  padding: 7px 0;
  font-size: var(--fs-sm);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 2.5px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: var(--colors-text);
  transition: color 0.2s ease-in-out;
  cursor: pointer;

  a {
    padding: 16px 13px;
  }

  .active {
    color: red;
  }
}

.banner {
  vertical-align: middle;
  margin: auto;
  width: 85%;
  padding-bottom: 30px;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  hr {
    width: 60%;
    margin: 18px auto 24px auto;
    border-color: rgba(150, 150, 150, 0.1);
  }
}

.bannerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bannerTitle {
  font-size: var(--fs-xlg);
  font-weight: var(--fw-bold);
  color: var(--colors-text);
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  @media (max-width: 768px) {
    line-height: 60px;
  }
}

.bannerText {
  font-family: var(--family-serif);
  font-size: var(--fs-md);
  color: var(--colors-text-light);
  margin: 0 auto 20px;
  width: 70%;
  letter-spacing: 1;
  font-weight: var(--fw-normal);

  @media (max-width: 768px) {
    line-height: 24px;
  }
}

.social {
  margin: 24px auto;
  padding: 0;
  font-size: var(--fs-lg);
  display: flex;
  gap: 12px;
}

.scrolldown {
  position: absolute;
  bottom: 20px;
}

.scrollIcon {
  color: var(--colors-text);
  width: 60px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    color: var(--colors-text-dark2);
  }
}
