* {
  box-sizing: border-box;
}

:root {
  /* Typography */
  --family: 'Open Sans', sans-serif;
  --family-serif: 'Libre Baskerville', serif;

  --fs-sm: 12px;
  --fs-md: 18px;
  --fs-md2: 22px;
  --fs-lg: 30px;
  --fs-xlg: 80px;

  --fw-light: 300;
  --fw-normal: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  --colors-bg: #3a4263;
  --colors-bg-dark: #333;
  --colors-bg-dark2: #303030;
  --colors-bg-light: #fff;
  --colors-text: #fff;
  --colors-text-light: #ddd;
  --colors-text-dark: #313131;
  --colors-text-dark2: #6e7881;

  --shadow: 0 0 1px 0 var(--colors-text-dark2);
}

@media (max-width: 768px) {
  :root {
    --fs-sm: 10px;
    --fs-md: 14px;
    --fs-md2: 26px;
    --fs-lg: 22px;
    --fs-xlg: 48px;
  }
}

body {
  font-family: var(--family);
  margin: 0;
  padding: 0;
  background: var(--colors-bg);
  color: var(--colors-text);
  font-weight: var(--fw-normal);
  line-height: normal;
  scroll-behavior: smooth;
}
